html .mceContentBody {
	max-width: 640px;
}

* {
	font-family: Georgia, "Bitstream Charter", serif;
	color: #444;
	line-height: 1.5;
}



/* =Pre & Code
-------------------------------------------------------------- */

pre {
	margin: 20px 0;
	padding: 20px;
	font: 13px/20px "Courier 10 Pitch", Courier, monospace;
	color: #222;
	box-sizing: border-box;
	border-right: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	box-shadow: 1px 1px 1px 0 #eee;
	background-color: #FFF;
	background-size: 100% 40px;
	background-image:
	-webkit-linear-gradient(0deg, #abced4 4px, transparent 4px),
	-webkit-linear-gradient(#eee 1px, #FAFAFA 1px, #FAFAFA 20px, #eee 20px, #eee 21px, transparent 21px);
}

code, code var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 13px;
}

code {
	padding: 2px 4px;
	background-color: #F3F3F3;
	border: 1px solid #D1D1D1;
	box-shadow: 0 -1px 0 0 #D6D6D6 inset, 0 1px 0 0 #FFF inset;
}










body, input, textarea {
    font-size: 12px;
    line-height: 18px;
}

hr {
    background-color: #E7E7E7;
    border:0;
    height: 1px;
	margin-bottom: 24px;
    margin-bottom: 18px;
    clear:both;
}

p {
	margin: 20px 0;
	font-size: 16px;
}









/* =Lists
-------------------------------------------------------------- */

ol, ul {
	font-size: 16px;
	margin: 20px 0;
	padding-left: 40px;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

ol ol, ol ul, ul ol, ul ul {
	margin-top: 0;
	margin-bottom: 0;
}


dl {
	margin: 20px 0;
	font-size: 16px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 40px;
	margin-bottom: 10px;
}









kbd, tt, var {
    font-size: 15px;
    line-height: 21px;
}

strong, b {
	font-weight: bold;
}

cite, em, i {
	font-style: italic;
}

big {
	font-size: larger;
}

u {
	text-decoration: underline;
}

ins {
	text-decoration: none;
	border: none;
	color: inherit;
	background-color: #FFFFCC;
}

s, strike, del {
	text-decoration: line-through;
}

del {
	color: red;
}

abbr, acronym {
	cursor: help;
	border-bottom: 1px dashed #AAA;
}









blockquote {
	font-style: italic;
	font-size: 16px;
	padding: 0 3em;
}

blockquote cite, blockquote em, blockquote i {
	font-style: normal;
}








sub, sup {
	font-size: smaller;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}










a:link {
	color: #0066CC;
}

a:hover, a:active {
	color: #FF4B33;
}

a:visited {
	color: #743399;
}













h1, h2, h3, h4, h5, h6 {
	color: #000;
	margin: 0 0 20px 0;
	line-height: 1.5em;
	font-weight: normal;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.9em;
}










img {
    margin: 0;
    max-width: 640px;
}

.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}

.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}

.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 12px;
}

.wp-caption {
    border: none;
    background: #f1f1f1;
    color: #888;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 20px;
    padding: 4px;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.wp-caption img {
    margin: 5px;
}

.wp-caption p.wp-caption-text {
    margin: 0 0 4px;
}

















.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {
	border: 1px solid rgb(223, 223, 223);
}

th {
	color: #000;
}

td, th {
	font-size: 16px;
}


table {
	border-collapse: collapse;
	border-spacing: 0;


	border: 1px solid #e7e7e7 !important;
	text-align: left;
	margin: 0 0 24px 0;
	width: 100%;
	box-shadow: 1px 1px 1px 0 #eee;
}

/* label ? */

tr th, thead th {
	color: #888;
	font: bold 12px/18px "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;

	padding: 9px 24px;


	background-color: #ECECEC;

	color: #000;
	border: 1px solid #DBDBDB !important;
	box-shadow: 0 1px 0 0 #FFF inset, 0 30px 20px -10px #F0F0F0 inset, -1px 0 0 0 #FFF;
	text-shadow: 0 1px #FFF;
}

tr td {
	border-top: 1px solid #e7e7e7 !important;
	padding: 6px 24px;
}







tr:nth-child(odd) {
	background-color: #FAFAFA;
}