/* =Slider
-------------------------------------------------------------- */

.slider {
	box-sizing: border-box;
	position: relative;
	/*margin-bottom: 20px !important;*/
}

.slider:after {
	clear: both;
	content: '';
	display: table;
}


/*
.slider:after {
	content: ' ';
	width: 67%; height: 0;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: -1;
}*/

.slider .slides {
	position: relative !important;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#slider1_container .slider .slides:first-child { position: absolute !important; }

.slide_wrap {
	background-repeat: no-repeat;
	background-position: 50% top;
}

@media only screen and (min-width : 1899px) {

.slide_wrap {
	background-size: cover;
}

.slide-inner .cover {
	background-size: 195.5%;
}

}


.slide-inner {
	min-height: 300px;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	box-sizing: border-box;
	padding: 90px 77px 90px 77px;
	position: relative;
	z-index: 1;
}

.slide-inner .cover {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-position: 50% -190px;
	background-repeat: no-repeat;
	-webkit-filter: blur(1.6px);
	overflow: hidden;
	z-index: -1;
	box-shadow: 0 0 0 7000px rgba(255, 255, 255, 0.7) inset;
}

.slide_wrap div.thumb {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.slide-inner h2 {
	font: 40px Lato;
	color: #282727;
	text-align: center;
	margin-bottom: 25px;
}

.slide-inner .text {
	font-size: 20px;
	line-height: 32px;
	color: #282727;
	text-align: center;
}

.slide-inner a.btn {
	height: 40px;
	border-radius: 20px;
	padding: 0 40px;
	font-size: 14px;
	line-height: 40px;
	color: #FFF;
	text-shadow: -1px -1px 0 #2f8aab;
	font-weight: 900;
	background-color: #71A5F4;
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.jssor-controls-wrap { opacity: 0; transition: all .2s; }

.mega_theme_block_slider:hover .jssor-controls-wrap { opacity: 1; }

.jssorb03 {}

.slider .controls-wrap {
	width: 1172px;
	margin: 0 auto;
}

div.controls-wrap:after {
	clear: both;
	content: '';
	display: table;
}

.slider .controls {
	display: none;
	float: left;
	margin-top: 8px;
	margin-left: 46px;
}

.rtl .slider .controls {
	float: right;
	margin-left: 0;
	margin-right: 46px;
}

.slider .controls a,
.jssorb03 > div {
	margin-right: 10px;
	background-color: #FFF;
	box-shadow: 0 -1px 0 0 #cacccc inset, 0 0 0 1px #edefef inset, 0 -1px 0 0 #cacccc, 0 0 0 1px #edefef;
	width: 18px;
	height: 18px;
	display: block;
	border-radius: 42px;
	border: 1px solid #edefef;
	text-indent: -9999px;
	box-sizing: border-box;
	float: left;
	cursor: pointer;
}

.rtl .slider .controls a,
.rtl .jssorb03 > div {
	margin-right: 0;
	margin-left: 10px;
	float: right;
}

.jssorb03 > div {
	position: relative !important;
	left: 0 !important;
}

.rtl .jssorb03 > div {
	left: auto !important;
	right: 0 !important;
}

.slider .controls a:last-child,
.jssorb03 > div:last-child { margin-right: 0; }

.rtl .slider .controls a:last-child,
.rtl .jssorb03 > div:last-child {
	margin-right: auto;
	margin-left: 0;
}

.slider .controls a.activeSlide,
.jssorb03 > div.av {
	background-color: #37bbec;
	box-shadow: 0 -1px 0 0 #cacccc, 0 0 0 1px #edefef;
	border: 2px solid #edefef;
}

.slide-nav-wrapper { width: 1172px; position: absolute; top: 0; }

.slider .prevS,
.slider .nextS {
	width: 36px; height: 36px;
	display: block !important;
	position: absolute;
	box-sizing: border-box;
	z-index: 90;
	background-color: #edefef;
	box-shadow: 0 1px 0 0 #cacccc inset;
	border-radius: 42px;
	text-align: center;
	cursor: pointer;
}

.rtl .slider .nextS {}

.slider .prevS { top: 300px; left: -150px; }
.slider .nextS { top: 300px; right: -150px; }

.slider .prevS:before,
.slider .nextS:before {
	width: 30px; height: 30px;
	display: block;
	position: relative;
	margin: 3px auto 0;
	box-sizing: border-box;

	font-family: FontAwesome;	
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #282727;
	background-color: #FFF;
	border-radius: 42px;
	box-shadow: 0 1px 0 0 #cacccc;
	line-height: 31px;
}

.slider .prevS:before {
	content: "\f053";
	padding-right: 1px;
}

.rtl .slider .prevS:before {
	content: "\f054";
	padding-right: 0;
	padding-left: 1px;
}

.slider .nextS:before { content: "\f054"; }

.rtl .slider .nextS:before { content: "\f053"; }

.slider .prevS:hover,
.slider .nextS:hover {}