/* =CTA Block
---------------------------- */

.mega_block_cta {}

.mega_block_cta .content { width: 80%; }

.ltr .mega_block_cta .content { float: left; }
.rtl .mega_block_cta .content { float: right; }

.mega_block_cta h2 {
	margin-bottom: 0;
	font-size: 22px;
	line-height: 40px;
	color: #888;
	text-align: initial;
}

.mega_block_cta .text { color: #A3A3A3; }

.mega_block_cta .button { padding: 0 46px; }

.ltr .mega_block_cta .button { float: right; }
.rtl .mega_block_cta .button { float: left; }

	/* Mobile */

	@media (max-width: 767px)
	{
		.mega_block_cta .button { margin-top: 20px; }
	}