/* =Blocks & Widgets
---------------------------- */

.mega_block_parent_vblock .widget {
	clear: both;
	margin-bottom: 30px;
}

.widget:last-child { margin-bottom: 0 !important; }

.widget h3 { font-size: 1.17em; font-weight: 700; }

.mega_theme_block_content .mega_block_parent_vblock .widget > h3 {
	font-size: 18px;
	color: #636363;
}

.mega_theme_block_footer .widget h3 { font-size: 20px; line-height: 28px; }



.widget_links > ul > li,
.widget_recent_entries > ul > li,
.widget_recent_comments > ul > li,
.widget_meta > ul > li,
.widget_categories > ul > li,
.widget_pages > ul > li,
.widget_archive > ul > li,
.widget_rss > ul > li {
	padding-left: 25px;
	padding-right: 25px;
	line-height: 30px;
}

.widget_links > ul > li:nth-child(even),
.widget_recent_entries > ul > li:nth-child(even),
.widget_recent_comments > ul > li:nth-child(even),
.widget_meta > ul > li:nth-child(even),
.widget_categories > ul > li:nth-child(even),
.widget_pages > ul > li:nth-child(even),
.widget_archive > ul > li:nth-child(even),
.widget_rss > ul > li:nth-child(even) { background-color: #fafafa; }

.widget_links ul li a,
.widget_recent_entries ul li a,
.widget_recent_comments ul li a,
.widget_meta ul li a,
.widget_categories ul li a,
.widget_pages ul li a,
.widget_archive ul li a,
.widget_rss ul li a {
	text-transform: capitalize;
	transition: .2s cubic-bezier(.02, .01, .47, 1);
	color: #4e4e4e;
}

.ltr .widget_links ul li a:hover,
.ltr .widget_recent_entries ul li a:hover,
.ltr .widget_recent_comments ul li a:hover,
.ltr .widget_meta ul li a:hover,
.ltr .widget_categories ul li a:hover,
.ltr .widget_pages ul li a:hover,
.ltr .widget_archive ul li a:hover,
.ltr .widget_rss ul li a:hover {
	padding-left: 10px;
	color: #000;
}

.rtl .widget_links ul li a:hover,
.rtl .widget_recent_entries ul li a:hover,
.rtl .widget_recent_comments ul li a:hover,
.rtl .widget_meta ul li a:hover,
.rtl .widget_categories ul li a:hover,
.rtl .widget_pages ul li a:hover,
.rtl .widget_archive ul li a:hover,
.rtl .widget_rss ul li a:hover {
	padding-right: 10px;
	color: #000;
}

.ltr .widget_categories li.current-cat > a:hover,
.ltr .widget_pages li.current_page_item > a:hover { padding-left: 0 !important; }

.rtl .widget_categories li.current-cat > a:hover,
.rtl .widget_pages li.current_page_item > a:hover { padding-right: 0 !important; }

.ltr ul.ajaxresponse li li,
.ltr .widget_text ul li li,
.ltr .widget_links ul li li,
.ltr .widget_recent_entries ul li li,
.ltr .widget_recent_comments ul li li,
.ltr .widget_meta ul li li,
.ltr .widget_categories ul li li,
.ltr .widget_pages ul li li,
.ltr .widget_archive ul li li,
.ltr .widget_rss ul li li { padding-left: 10px; }

.rtl ul.ajaxresponse li li,
.rtl .widget_text ul li li,
.rtl .widget_links ul li li,
.rtl .widget_recent_entries ul li li,
.rtl .widget_recent_comments ul li li,
.rtl .widget_meta ul li li,
.rtl .widget_categories ul li li,
.rtl .widget_pages ul li li,
.rtl .widget_archive ul li li,
.rtl .widget_rss ul li li { padding-right: 10px; }







/*need .widgetized? seperate color footer from content*/

.content .widgetized ul li, .mega_theme_block_footer .widgetized ul li {
	min-height: 15px;
	word-wrap: break-word;
	padding-top: 6px; padding-bottom: 6px;
	box-sizing: border-box;
}

.content .widgetized ul li, .mega_theme_block_footer .widgetized ul li { min-height: 34px; }
.content .widgetized li li, .mega_theme_block_footer .widgetized li li { padding-bottom: 0; }

.content .widgetized .widget > ul > li.current-cat,
.content .widgetized .widget > ul > li.current_page_item,
.content .widgetized .widget > ul > li.current_page_ancestor {}

.content .widgetized li.current-cat > a,
.content .widgetized li.current_page_item > a { color: #37bbec; }