/* =Breadcrumbs Block
---------------------------- */

.mega_block_breadcrumbs {}

.mega_block_breadcrumbs span:after {
	margin-left: 5px;
	margin-right: 5px;
	content: '//';
}

.mega_block_breadcrumbs span:last-child:after { display: none; }