/* =Author Info Block
---------------------------- */

.mega_block_author_info {
	padding: 20px 25px;
	border-top: 1px solid #efefef;
	box-sizing: border-box;
}

.mega_block_author_info .avatar {
	float: left;
	margin-right: 30px;
	border-radius: 44px;
}

.mega_block_author_info .info { display: table; }

.mega_block_author_info .author {
	margin-bottom: 7px;
	font-weight: 900;
	color: #282727;
}

.mega_block_author_info .about {
	font-size: 14px;
	line-height: 21px;
	color: #898989;
	margin-bottom: 15px;
}