/* Features */

.mega_block_feature_custom .thumb,
.mega_block_feature_auto .thumb {
	margin-bottom: 25px;
}

.mega_block_feature_custom .link,
.mega_block_feature_auto .link {
	margin-left: 5px;
}

.mega_block_feature_custom .button,
.mega_block_feature_auto .button {
	margin-top: 25px;
}

.mega_block_feature_custom > i,
.mega_block_feature_auto > i {
	font-size: 70px;
	margin-bottom: 30px;
	display: block;
	color: #b4c9e6;
}

.mega_theme_block_features .mega_block_parent_vblock .widget > h3 {
	font-size: 18px;
	font-weight: 400;
	color: #818181;
}


/* reset teritory */
.text p:last-of-type { margin-bottom: 0 !important; }
.text p { margin-top: 0 !important; }