/* Comments */

.famous_block_comments_loop {
	padding-top: 10px;

	border-radius: 3px;
	border: 1px solid #ecefef;
	border-top: 0;
	background-color: #FFF;
	box-shadow: 0 2px 4px -2px #d7dbdb;
}

#comments .ping {
	margin-bottom: 15px;
	font-style: italic;
	line-height: 22px;
}

.comment {
	padding-bottom: 25px;
	padding-top: 25px;
	border-top: 1px solid #efefef;
	background-color: #FFF;
}

.comment .comment,
.comment .comment .comment {
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 0;
	border-top: 1px solid #efefef;
	background-color: #FFF;
}

.comment .text { /* improve */
	clear: both;
	overflow: hidden;
}

.comment .text p {
	margin-bottom: 20px;
	margin-top: 0;
}

.comment img.avatar {
	float: left;
	margin-right: 30px;
	border-radius: 44px;
	/*border: 2px solid #d7dbdb;*/
	box-sizing: border-box;
}

.comment.depth-1 img.avatar { margin-left: 25px; }
.comment.depth-2 img.avatar { margin-left: 50px; }
.comment.depth-3 img.avatar { margin-left: 75px; }
.comment.depth-4 img.avatar { margin-left: 100px; }
.comment.depth-5 img.avatar { margin-left: 125px; }
.comment.depth-6 img.avatar { margin-left: 150px; }
.comment.depth-7 img.avatar { margin-left: 175px; }
.comment.depth-8 img.avatar { margin-left: 200px; }

.comment .author, .comment .date {
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
}

.comment .author {
	margin-right: 25px;
	font-weight: bolder;
	color: #282727;
}

.comment .date {
	margin-bottom: 6px;
	margin-right: 10px;
	color: #898989;
	display: inline-block;
}

.comment .date:before {
	font-family: FontAwesome;
	font-size: 16px;
	color: #d7dbdb;
	margin-right: 7px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f073";
}

.comment .links {
	overflow: hidden;
	clear: both;
}

.comment .links a { float: right; }

.comment-reply-link {
	float: right;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	color: #898989 !important;
}

.comment-reply-link:before {
	font-family: FontAwesome;
	font-size: 16px;
	color: #d7dbdb;
	margin-right: 7px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f040";
}

.c {
	margin-left: 45px;
}

.comment .children {
	/*float: left;*//* ? */
}

.comment .children:before {
	clear: both;
	display: table;
	content: '';
}

/* Comment Form */

#respond {
	margin-bottom: 25px; margin-top: 25px;
	clear: both;
}

#respond h3 {
	font-size: 18px;
	color: #d37e00;
	margin-bottom: 10px;
}

#respond h3 small { font-size: inherit; }

#respond p { margin-top: 10px; }