html, body {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3,h4, h5,h6{
    font-family: 'Raleway', sans-serif;
    color: #1a1a1a;
}
#menu {
    position: relative;
}
#menu ul {
    list-style-type: none;
}
#menu .sf-menu {
    list-style: none;
    position: relative;
    z-index: 10;
    margin: 0px 1px 0px 0px;
    padding-left: 0;
    text-align: center;
}
#menu .sf-menu li > ul li > ul {
    margin-top: 1px;
}
#menu .sf-menu li {
    position: relative;
    display: inline;
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 1px;
    line-height: 45px;
}
#menu .sf-menu li:last-child {
    margin-right: 0;
}
#menu .sf-menu li a {
    color: #444;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 600;
    font-size: 18px;
}
#menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover {
    color: #27c6f4;
}
#menu li.current-menu-item li a, #menu li.current_page_item li a, #menu li.current-menu-parent li a, #menu li.current_page_parent li a, #menu li li a.selected, #menu li li a:hover {
    border-bottom:none;
}
#menu .sf-menu li > ul {
    margin-top: 7px;
    padding-top: 10px;
    margin-left: 5px;
}
#menu li li a, #menu li li a.selected, #menu li li a:hover {
    border: none;
}
#menu .sf-menu li li {
    font-size: 15px;
    line-height: 21px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
#menu .sf-menu li li a {
    width: 154px !important;
    color: #525252;
    height: auto;
    float: none;
    display: block;
    text-align: left;
    position: relative;
    margin: 0;
    padding: 5px 0 5px 0;
    margin: 5px 8px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    border-radius: 0;
}
#menu .sf-menu li li a:after {
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}
#menu .sf-menu li li li li:last-child a, #menu .sf-menu li li li li:last-child a:after {
    border-top: none;
}
#menu .sf-menu li li:last-child a:after {
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
}
* html #menu .sf-menu li li a {
    display: inline-block;
}
#menu .sf-menu li li a:link, #menu .sf-menu li li a:visited {
    color: #565555;
}
#menu .sf-menu li li a.selected, #menu .sf-menu li li a:hover {
    color: #fff;
    text-shadow: none;
    color: #27c6f4;
}
#menu .sf-menu li ul {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    visibility: hidden;
    margin-top: 32px;
    width: 180px !important;
    margin-left: 0px;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: 2px solid #388dc0;
    padding-left: 0
}
#menu .sf-menu li ul li {
    display: list-item;
    float: none;
    border-bottom:none;
}
#menu .sf-menu li ul li ul {
    padding-top: 0;
    top: 0;
    margin-top: 0;
    margin-left: 0;
}
#menu .sf-menu li ul li ul li:first-child {
    padding-top: 0;
}
* html .sf-menu {
    height: 1%;
}
.downarrowclass {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    top: 9px;
    right: 6px;
}
.rightarrowclass {
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    margin-top: -3px;
    top: 50%;
    right: 0;
}
.ddshadow {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
#menu .sf-menu li.current_page_ancestor ul li {
    margin: 0;
}
#menu .sf-menu li.current_page_ancestor ul li a {
    background:none;
}
#menu .sf-menu li.current_page_item ul li a {
    background: none;
}
#menu .sf-menu li.current_page_item ul li a:hover {
    color: #27c6f4;
}
#menu .sf-menu li.current_page_ancestor ul li a:hover {
    color: #27c6f4;
}
#menu .sf-menu li.current_page_item ul li.current_page_item {
    margin-left: 15px;
}
#menu .sf-menu li ul li.current_page_item a {
    margin-left: 10px;
}
#menu li.current-menu-parent li a{
    background:none;
}
#menu li.current-menu-parent li a{
    background:none;
}
#menu {
    text-align:center;
    width:100%;
    height: 0;
    z-index:100;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}
#menu.active {
    height: 44px;
}
#menu .sf-menu {
    visibility: visible;
    border-bottom:1px solid #eee
}
#menu .sf-menu.active{
    visibility: visible;
}
nav#menu-nav {
    height:45px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-transform:uppercase;
    background:#222;
    text-align:center;
    z-index:30;
}
#menu-toggle {
    cursor:pointer;
    display:block;
    position:absolute;
    top: -6px;
    right: 30px;
    padding:4px 10px;
    color:white;
    font-size:40px;
    line-height:45px;
    z-index:1010;
    height:45px;
    border-radius:0 0 0 10px;
    transition:all 500ms ease 0;
}
#menu-toggle:hover {
}
#menu-toggle.active {
    top:-6px;
}
.hamburger-menu {
    z-index:2;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 100px;
    height: 60px;
    cursor: pointer;
}

#menu-toggle .bar,
#menu-toggle .bar:after,
#menu-toggle .bar:before {
    width: 35px;
    height: 3px;
}
#menu-toggle .bar {
    position: relative;
    transform: translateY(25px);
    background: rgba(111, 110, 110, 0.7);
    transition: all 0ms 300ms;
}
#menu-toggle .bar.animate {
    background: rgba(255, 255, 255, 0); 
}
#menu-toggle .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    background: rgba(111, 110, 110, 0.7);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    background: rgba(111, 110, 110, 0.7);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

#menu-toggle .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
nav#menu-nav ul {
    float:left;
}
.template_five .header_wrapper{
    background: rgb(255, 255, 255);
    z-index: 999;
    position: relative;
}
.template_five.active .header_wrapper{
    z-index: 9;
}
.logo img{
    margin-top: 6px;
}
.loaders{
    width: 100%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#spinner {  
    position: fixed;
    left: 0px;    
    top:0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #f6ba29;
}
.ball-pulse-rise{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 56px;
    margin:auto;
    /* vertical-align: baseline; */
}
.ball-pulse-rise>div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(.15, .46, .9, .6);
    animation-timing-function: cubic-bezier(.15, .46, .9, .6);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0
}
.ball-pulse-rise>div:nth-child(2n) {
    -webkit-animation-name: ball-pulse-rise-even;
    animation-name: ball-pulse-rise-even
}
.ball-pulse-rise>div:nth-child(2n-1) {
    -webkit-animation-name: ball-pulse-rise-odd;
    animation-name: ball-pulse-rise-odd
}
@-webkit-keyframes ball-pulse-rise-even {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    50% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4)
    }
    75% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes ball-pulse-rise-even {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    50% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4)
    }
    75% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@-webkit-keyframes ball-pulse-rise-odd {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4)
    }
    25% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    75% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(0.75);
        transform: scale(0.75)
    }
}
@keyframes ball-pulse-rise-odd {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4)
    }
    25% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    75% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: scale(0.75);
        transform: scale(0.75)
    }
}
.page_container.template_five{
    position: relative;
    /* background: #f5f5f5; */
}
.header_wrapper{
    width: 100%;
    z-index: 9999;
    padding: 18px 0 10px 0;
}
.header_wrapper .header .contact_detail{
    text-align: right;
    margin-top: 0px;
}
.header_wrapper .header .contact_detail p{
    display: inline-block;
    color: green;
    font-size: 30px;
    margin:0;
    margin-left: 15px;
}
.header_wrapper .header .contact_detail span{
    vertical-align: super;
    margin-left: 10px;
    font-size: 18px;
}
.top_feature_container{
    position: relative;
    /* margin-bottom: 22px; */
}
.top_feature_container img{
    width: 100%;
    height: auto;
    border-top: 3px solid rgba(0, 0, 0, 0.05);
}
.top_feature_container_wrapper{
    text-align:center;	  
    position: absolute;
    width: 100%;
    top: 6%;
}
.top_feature_content h1{
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 55px;
    margin-bottom: 16px;
    background: rgba(23, 165, 209, 0.7);
    display: inline-block;
    padding: 4px 35px;
}
.top_feature_content p{
    color: #000;
    font-size: 21px;
    line-height: 28px;
    background: rgba(255, 255, 255, 0.67);    display: inline-block;
    padding: 5px 22px;
}
.template_form_content{
    /* border-bottom: 1px dashed #C8C8C8; */
    /* padding-bottom: 57px; */
}
.template_feature_container{
    text-align: center;
    margin-top: 55px;
}
.template_feature_container h2{
    line-height: 32px;
    font-size: 26px;
    font-weight: 600;
}
.template_feature_container p{
    font-size: 17px;
    line-height: 27px;
}
.template_feature_container .line_separator{
    height: 5px;
    width: 300px;
    background: #ccc;
    display: inline-block;
    margin: 11px auto 15px auto;
}
.feature_box {
    margin: 60px 0 50px 0;
    display: inline-block;
}
.feature_box .feature_box_item{
    margin-bottom: 45px;

}
.feature_box .feature_box_item img{
    border-radius: 50%;
    width: 248px;
    height: 248px;
    margin-bottom: 20px;
}
.feature_box .feature_box_item img[src=""] {
    display: none;
}
.feature_box .feature_box_item.item1 img{
    border: 4px solid #8bca5d;
}
.feature_box .feature_box_item.item2 img{
    border: 4px solid #55d0e6;
}
.feature_box .feature_box_item.item3 img{
    border: 4px solid #e0cc44;
}
.feature_box .feature_box_item.item4 img{
    border: 4px solid #58e4cf;
}
.form_wrapper_custom{
    width: 436px;
    margin: -51% auto 25px auto;
    border: 3px solid rgba(116, 116, 116, 0.43);
    padding: 12px 20px 0px 20px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 7px;
    text-align: center;
}
.form_wrapper_custom.image{
    padding: 0;
    width: 382px;
}
.form_wrapper_custom img{
    width: 100%;
}
.testimonial_heading_container{
    text-align: center;
    margin-bottom: 40px;
}
.testimonial_item_contianer h2{
    line-height: 32px;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}
.testimonial_item_contianer .line_separator{
    height: 4px;
    width: 360px;
    background: #ccc;
    display: inline-block;
    margin: 11px auto 15px auto;
}
.template_feature_content{
    margin: 62px 0 68px 0;
    overflow: hidden;
}
.feature_item_content{
    margin-right: 30px;
}
.feature_item_content .feature_item{
    margin-bottom: 21px;

}
.feature_item_content .feature_item span{
    float: left;
    font-size: 30px;
    margin-right: 27px;
    margin-top: 10px;
    background: #05aba3;
    border-radius: 54%;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 4px 6px 0px 10px;
}
.feature_item_content .feature_item .feature_item_inner{
    overflow: hidden;
    margin-left: 15px;
}
.feature_item_content .feature_item .feature_item_inner h3{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 14px;
}
.feature_item_content .feature_item .feature_item_inner p{
    font-size: 18px;
    line-height: 26px;
}
.feature_box_content{
    padding-left: 48px;
}
.feature_box_content h2{
    margin-bottom: 26px;
    font-weight: 700;
}
.feature_box_content img, .feature_box_content iframe{
    max-width: 100%;
    height: auto;
}
.testimonial_item_contianer{
    background: #f5f5f5;
    padding: 65px 0 60px 0;
    overflow: hidden;
}
.testimonial_item_content{
    /* margin-bottom: 60px; */
}
.testimonial_item_content .testimonial_item{
    width: 28%;
    display: inline-block;
    padding: 20px 23px 17px 27px;
    background: #fff;
    position: relative;
    background: #fff;
    border: 3px solid #dbdbdb;
    margin-right: 7%;  	  	 
    margin-bottom: 140px;
}
.testimonial_item_content .testimonial_item:nth-child(3n+3){
    margin-right: 0;
}
.testimonial_item_content .testimonial_item:after, .testimonial_item_content .testimonial_item:before {
    top: 100%;
    left: 11%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.testimonial_item_content .testimonial_item:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 13px;
    margin-left: -13px;
}
.testimonial_item_content .testimonial_item:before {
    border-color: rgba(219, 219, 219, 0);
    border-top-color: #dbdbdb;
    border-width: 17px;
    margin-left: -17px;
}
.testimonial_item_content .testimonial_item .testimonial_item_inner{
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: -94px;
    left: 3px;
}
.testimonial_item_content .testimonial_item img{
    float: left;
    border-radius: 100%;
    width: 62px;
    height: 62px;
    margin: 5px 12px 0 0;
    display: inline-block;
}
.testimonial_item_content .testimonial_item  p{
    line-height: 27px;
    margin-bottom: 18px;
    font-size: 18px;
}
.testimonial_item_content .testimonial_item .testimonial_item_inner span.name{
    color: #e93d3d;
    text-decoration: none;
    font-size: 17px;
    display: block;;
    vertical-align: top;
    margin-top: 16px;
}
.testimonial_item_content .testimonial_item .testimonial_item_inner span{
    display: inline-block;
}
.footer_container{
    background: #272727;

    color: #fff;
    padding: 20px 0 7px 0;
}
.footer_container p,
.footer_container p a{
    color: #C8C8C8;
    font-size: 16px;
    margin: 0;
}
.social_icon{
    display: inline-block;
    text-align: right;
    float: right;
}
.social_icon ul{
    text-align: right;
    margin-top: -3px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
}
.social_icon ul li{
    display: inline-block;;
    /* background: #ddd; */
    /* border-radius: 50%; */
    margin: 0 3px;
}
.social_icon ul li a{
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    margin: 0 4px;
}
/**** Top level list items ****/
.variant_leads_form .inkleadsform{
    padding: 0;
    margin: 0;
    box-shadow: none;
    width: 100%;
    background: transparent;
}
.variant_leads_form .inkleadsform ul.inkleadsul li h2.heading{
    background: none;
    margin-bottom: 20px;
    color: #444 !important;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
.variant_leads_form .inkleadsform .signinForm ul.inkleadsul li input[type="text"], .variant_leads_form .inkleadsform .signinForm ul.inkleadsul li input[type="email"], .variant_leads_form .inkleadsform .signinForm ul.inkleadsul li textarea{
    outline: none;
    font-family: 'Raleway', sans-serif;
    border: 2px solid #d9d9d9;
    padding: 5px 12px 5px 12px;
    width: 95%;
    height: 44px;
    margin-left: 0;
    font-size: 17px;
    color: #666;
    margin-bottom: 16px;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.variant_leads_form .inkleadsform .signinForm ul.inkleadsul li textarea{
    height: 130px;
    resize:none;
}
.variant_leads_form .inkleadsform .signinForm ul.inkleadsul li input[type="submit"] {
    width: 95%;
    background: #efa71c;
    padding: 2px 14px 0px 14px;
    height: 50px;
    margin-left: 0;
    border: none;
    border-radius: 4px;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    webkit-box-shadow: 0 4px 0 #cc8b0d;
    -moz-box-shadow: 0 4px 0 #cc8b0d;
    box-shadow: 0 4px 0 #cc8b0d;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.variant_leads_form .inkleadsform .signinForm ul.inkleadsul li input[type="text"]:focus, .variant_leads_form .inkleadsform .signinForm ul.inkleadsul li input[type="email"]:focus, .variant_leads_form .inkleadsform .signinForm ul.inkleadsul li textarea:focus{
    border: 2px solid #cc8b0d;
}
.variant_leads_form .inkleadsform .signinForm ul.inkleadsul li input[type="submit"]:hover {
    background: #cc8b0d;
}
.variant_leads_form .inkleadsform ul.inkleadsul li.inkleadcheckbox, .variant_leads_form .inkleadsform ul.inkleadsul li.inkleadradiobox{
    margin-bottom: 18px;
    overflow: hidden;
}
.variant_leads_form .inkleadsform ul.inkleadsul li.inkleadcheckbox label.leadform-label, .variant_leads_form .inkleadsform ul.inkleadsul li.inkleadradiobox label.leadform-label {
    width: 100%;
    margin: 0;
    margin-top: -18px;
}
.variant_leads_form .inkleadsform ul.inkleadsul li.inkleadcheckbox label.leadform-label span.label_inner, .variant_leads_form .inkleadsform ul.inkleadsul li.inkleadradiobox label.leadform-label span.label_inner {
    display: inline-block;
    color: #000;
    text-align: left;
    float: left;
    margin-left: 12px;
    font-size: 17px;
    margin-top: 18px;
    width: 90px;
    font-weight: 500;
}
.variant_leads_form .inkleadsform ul.inkleadsul li.inkleadcheckbox label.leadform-label span.radio_check_div, .variant_leads_form .inkleadsform ul.inkleadsul li.inkleadradiobox label.leadform-label span.radio_check_div {
    float: right;
    width: 68%;
    text-align: left;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header_wrapper {
        top: 25px;
    }
    .form_wrapper_custom{
        margin: -58% auto 25px auto;
    }
}
@media only screen and (max-width: 990px){
    .container {
        overflow: hidden;
    }
    .header_wrapper {
        top: 10px;	
        text-align: center;
    }
    .header_wrapper .header .contact_detail {
        text-align: center;
    }
    .top_feature_content {
        text-align: center;
    }
    .top_feature_container_wrapper{
        top: 30%;
    }
    .top_feature_content h1 {
        font-size: 28px;
        padding: 6px 24px;
        margin-bottom: 10px;
        font-weight: 400;
        line-height: 28px;
    }
    .feature_item_content{
        margin-right: 0;
    }
    .feature_item_content .feature_item{
        text-align: center;	
        margin-bottom: 45px;
        padding-top: 8px;
    }
    .feature_item_content .feature_item .feature_item_inner{
        margin-left: 0;
    }
    .feature_item_content .feature_item .feature_item_inner h3{
        margin-top: 25px;
    }
    .feature_item_content .feature_item span{
        float: none;	
        margin: 0;
        border-radius: 50%;    
        padding: 9px 10px 9px 12px;
    }
    .feature_box_content{
        text-align: center;
        padding-left: 0;
        padding-top: 0px;
    }
    .testimonial_item_content .testimonial_item .testimonial_item_inner{
        bottom: -109px;


        left: -7px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 992px) {
    .form_wrapper_custom{
        margin-top: 50px;
    }
}
@media only screen and (max-width: 767px){
    .form_wrapper_custom {
        margin: 15px auto 25px auto;
    }
    .top_feature_content h1{	
        line-height: 32px;
    }
    .testimonial_item_content .testimonial_item {
        width: 100%;		
        margin-bottom: 135px;
    }
    .testimonial_item_content .testimonial_item .testimonial_item_inner {
        bottom: -89px;
        left: 0px;
    }
    /* Mobile Menu Css Start From Here */
    #menu-toggle{
        display: none;
    }
    #main-menu {
        padding-bottom: 20px;
    }
    #main-menu select.selectnav {
        font-family: arial;
        font-size: 15px;
        background-color: #FFF;
        filter:progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE', GradientType=0);
        background-image: -webkit-gradient(linear, 0% 0, 0% 100%, color-stop(20%, #FFF), color-stop(50%, #F6F6F6), color-stop(52%, #EEE), color-stop(100%, #F4F4F4));
        background-image: -webkit-linear-gradient(top, #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
        background-image: -moz-linear-gradient(top, #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
        background-image: -ms-linear-gradient(top, #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
        background-image: -o-linear-gradient(top, #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
        background-image: linear-gradient(top, #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        border: 1px solid #E1E1E1;
        -webkit-box-shadow: 0 0 3px #FFF inset, 0 1px 1px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 3px #FFF inset, 0 1px 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 3px #FFF inset, 0 1px 1px rgba(0,0,0,0.1);
        display: block;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        padding: 6px 7px 6px 5px;
        color: #717171;
        text-decoration: none;
        height: 35px;
        line-height: 23px;
        cursor: pointer;
    }
    #main-menu select.selectnav option {
        padding: 1px 0;
        font-size: 0.8em;
    }
    /* BEGIN: Mean Menu styles. */
    /* Mean Menu styles. hide the link until viewport size is reached */
    a.meanmenu-reveal {
        display: none;
    }
    .mean-container #main-menu {
        padding: 0;
        margin: 0;
        height: 10px;
    }
    /* when under viewport size, .mean-container is added to body */
    .mean-container .mean-bar {
        width: 100%;
        background: #000;
        padding: 4px 0;
        min-height: 42px;
        z-index: 999999;
        position: relative;
        top: 0;
    }
    .mean-container a.meanmenu-reveal {
        width: 44px;
        height: 22px;
        padding: 13px 13px 11px 13px;
        position: absolute;
        top: 0;
        right: 15px;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 22px;
        font-size: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    .mean-container a.meanmenu-reveal span {
        display: block;
        background: #fff;
        height: 3px;
        margin-top: 3px;
    }
    .mean-container .mean-nav {
        float: left;
        width: 100%;
        background: #000;
        margin-top: 33px;
    }
    .mean-container .mean-nav ul {
        padding: 0;
        margin: 0;
        width: 100% !important;
        list-style-type: none;
    }
    .mean-container .mean-nav ul li {
        position: relative;
        float: left;
        width: 100%;
        margin-left: 0;
    }
    .mean-container .mean-nav ul li a {
        display: block;
        float: left;
        width: 100%;
        padding: 1em 5%;
        margin: 0;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid #383838;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        text-decoration: none;
        text-transform: uppercase;
    }
    .mean-container .mean-nav ul li ul li {
        width: 100%;
    }
    .mean-container .mean-nav ul li li a {
        width: 100%;
        padding: 1em 10%;
        border-bottom: 1px solid #f1f1f1;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        opacity: 0.75;
        filter: alpha(opacity=75);
        text-shadow: none !important;
        visibility: visible;
    }
    .mean-container .mean-nav ul li.mean-last a {
        border-bottom: none;
        margin-bottom: 0;
    }
    .mean-container .mean-nav ul li li li a {
        width: 70%;
        padding: 1em 15%;
    }
    .mean-container .mean-nav ul li li li li a {
        width: 60%;
        padding: 1em 20%;
    }
    .mean-container .mean-nav ul li li li li li a {
        width: 50%;
        padding: 1em 25%;
    }
    .mean-container .mean-nav ul li a:hover {
        background: #252525;
        background: rgba(255,255,255,0.1);
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 26px;
        height: 26px;
        border: none !important;
        padding: 12px !important;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        font-weight: 700;
    }
    .mean-container .mean-nav ul li a.mean-expand:hover {
        background: none;
    }
    .mean-container .mean-push {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both;
    }
    .mean-nav .wrapper {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 768px){
    .row.custom-row{
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 640px){
    .form_wrapper_custom{
        /* margin: 40px auto 25px auto; */
    }
}
@media only screen and (max-width: 480px){
    .template_feature_container{
        text-align: center;
    }
    .form_wrapper_custom{
        margin: 20px auto 0 auto;
        width: 272px;
        padding: 2px 12px 2px 5px;
    }
    .form_wrapper_custom.image{
        margin: 20px auto 0 auto;
        width: 272px;
    }
    .form_wrapper_custom iframe{
        height: 532px;
    }
}
@media only screen and (max-width: 350px){
    .form_wrapper_custom{
        margin: 20px auto 0 auto;
        width: 272px;
        padding: 2px 12px 2px 5px;
    }
}