/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,600,800,900);
html, body {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3,h4, h5,h6{
    font-family: 'Raleway', sans-serif;
    color: #1a1a1a;
}
.form_wrapper {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.form_wrapper h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.form_wrapper p{
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}
.form_wrapper .view_form li label{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}
.form_wrapper .view_form li .view_wrapper input[type="text"], 
.form_wrapper .view_form li .view_wrapper input[type="email"], 
.form_wrapper .view_form li .view_wrapper select, 
.form_wrapper .view_form li .view_wrapper textarea, 
.form_wrapper .view_form li .view_wrapper .inner-payment-section{
    font-family: 'Raleway', sans-serif;
    border: 1px solid #d9d9d9;
    padding: 2px 12px 3px 12px;
    background: #f2f2f2;
    width: 91%;
    font-size: 16px;
    color: #666;
    margin-bottom: -1px;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.form_wrapper .view_form li .view_wrapper select{
    width: 97%;
    height: 38px;
}
.form_wrapper .view_form li .view_wrapper textarea{
    height: 120px;
}
.form_wrapper .view_form li .view_wrapper input[type="text"]:focus, 
.form_wrapper .view_form li .view_wrapper input[type="email"]:focus, 
.form_wrapper .view_form li .view_wrapper select:focus, 
.form_wrapper .view_form li .view_wrapper textarea:focus, 
.form_wrapper .view_form li .view_wrapper .inner-payment-section:focus{
    border: 1px solid #939393;
}
.form_wrapper.nolabel li .view_wrapper ::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 18px;
    color: #666;
}
.form_wrapper.nolabel li .view_wrapper :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 18px;
    color: #666;
}
.form_wrapper.nolabel li .view_wrapper ::-moz-placeholder{ /* Mozilla Firefox 19+ */
    font-size: 18px;
    color: #666;
}

.form_wrapper.nolabel li .view_wrapper :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 18px;
    color: #666;
}
.form_wrapper .view_form .form_submit input[type="button"]{
    width: 100%;
    background: #f6ba29;
    padding: 7px 14px 7px 14px;
    border-radius: 4px;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    webkit-box-shadow: 0 4px 0 #c69214;    
    -moz-box-shadow: 0 4px 0 #c69214;    
    box-shadow: 0 4px 0 #c69214;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.form_wrapper .view_form .form_submit input[type="button"]:hover{
    background: #c69214;
}
.form_wrapper a.powered_by{
    display: none;
}
.form_wrapper .view_form li .view_wrapper input.upload {
    width: 34px;
    height: 35px;
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: #e1e1e1;
}
.form_wrapper .view_form li .view_wrapper.cal .fg-choose {
    width: 34px;
    height: 35px;
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: #e1e1e1;
}
.form_wrapper .view_form li.fg-check-li .view_wrapper ul li input[type="checkbox"]{
    margin-right: 15px;
}
@media only screen and (min-width: 200px) and (max-width: 300px) {
    .form_wrapper .view_form .form_submit input[type="button"]{
        width: 94%;

        font-size: 20px;
        font-weight: 600;
    }
}
@media only screen and (min-width: 500px) and (max-width: 992px){
    .form_wrapper_custom{
        margin-top: 0;
    }
    .form_wrapper{
        max-width: 100%;
    }
    .form_wrapper .view_form li .view_wrapper .fg-outlined{
        float: none;
    }
    .form_wrapper .view_form li .view_wrapper input[type="text"], 
    .form_wrapper .view_form li .view_wrapper input[type="email"], 
    .form_wrapper .view_form li .view_wrapper select, 
    .form_wrapper .view_form li .view_wrapper textarea, 
    .form_wrapper .view_form li .view_wrapper .inner-payment-section{
        width: 94%;}
}
@media only screen and (max-width: 767px){
    .form_wrapper_custom{
        margin-top: 0;
    }
}